@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400..700&display=swap");

/* Global Values */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: var(--main-transition);
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 100px 0;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  font-size: 34px;
  color: var(--main-color);
  margin: 0 auto 100px;
  display: block;
  width: fit-content;
}

/* Variables */

:root {
  --main-color: #80a1b4;
  --main-color-alt: #728e9e;
  --main-transition: 0.5s;
}

/* Header */

header {
  box-shadow: 0 1px 5px rgba(0 0 0 / 15%);
  background-color: white;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-height: 72px;
}

header .logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--main-color);
}

header .links {
  display: flex;
}

@media (max-width: 992px) {
  header .links {
    display: none;
  }
}

header .links li:not(:last-of-type) {
  margin-left: 10px;
}

header .links li a {
  display: block;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
}

header .links li a:hover {
  color: var(--main-color-alt);
}

header .burger-icon {
  font-size: 24px;
  color: var(--main-color);
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
}

@media (min-width: 992px) {
  header .burger-icon {
    display: none;
  }
}

.mobile-links {
  position: fixed;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 72px);
  padding: 0 100px;
  background-color: rgba(255 255 255 / 60%);
  backdrop-filter: blur(10px);
  z-index: 999;
}

@media (max-width: 767px) {
  .mobile-links {
    padding: 0 50px;
  }
}

.mobile-links li {
  margin: 10px 0;
}

.mobile-links li a {
  display: block;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
  border-radius: 6px;
  border: 1px solid #ddd;
  text-align: center;
}

.mobile-links li a:hover {
  background-color: #eee;
}

/* Landing */

.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -100px;
  width: 100%;
  height: calc(100% + 50px);
  border-radius: 30px;
  background-color: #eee;
  transform: rotate(6deg);
  z-index: -1;
}

@media (max-width: 992px) {
  .landing::before {
    left: 0;
    top: -20px;
    transform: rotate(0deg);
  }
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

@media (max-width: 992px) {
  .landing .container {
    justify-content: center;
  }
}

.landing .img-holder {
  max-width: 500px;
}

@media (max-width: 992px) {
  .landing .img-holder {
    display: none;
  }
}

.landing img {
  width: 100%;
  position: relative;
  animation: Up-To-Down 2s linear infinite alternate;
}

.landing .text {
  flex-basis: calc(100% - 700px);
}

@media (max-width: 992px) {
  .landing .text {
    flex-basis: 100%;
    text-align: center;
  }
}

.landing .text h2 {
  font-size: 34px;
  color: var(--main-color);
}

.landing .text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 15px 0;
  transition-delay: 0.1s;
}

.landing.hidden .text h2,
.landing.hidden .text p {
  opacity: 0;
  transform: translateY(50px);
}

.landing .text .social {
  display: flex;
}

@media (max-width: 992px) {
  .landing .text .social {
    justify-content: center;
  }
}

.landing .text i {
  display: block;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 24px;
  color: white;
}

.landing .text i:hover {
  transform: scale(1.10);
}

.landing.hidden .text i {
  opacity: 0;
  transform: scale(0);
}

.landing .text a:not(:last-of-type) i {
  margin-left: 10px;
}

.landing .text a:first-of-type i {
  background-color: rgba(24 119 242 / 80%);
}

.landing .text a:nth-of-type(2) i {
  background-color: rgba(255 0 0 / 80%);
  transition-delay: 0.1s;
}

.landing .text a:last-of-type i {
  background-color: rgba(195 42 163 / 80%);
  transition-delay: 0.2s;
}

/* About */
#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  #about .container {
    flex-direction: column;
  }
}

#about .image {
  position: relative;
  max-width: 100%;
  width: 375px;
}

#about img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0 0 0 / 15%);
}

@media (max-width: 992px) {
  #about img {
    display: none;
  }
}

#about.hidden img {
  transform: translateY(100px);
  opacity: 0;
}

#about .image i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 100%;
  color: var(--main-color);
  transition-delay: 0.5s;
}

@media (max-width: 992px) {
  #about .image i {
    display: none;
  }
}

#about.hidden .image i {
  transform: translateY(100px);
  opacity: 0;
}

#about .image i:first-of-type {
  right: -30px;
  top: 30px;
}

#about .image i:nth-of-type(2) {
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

#about.hidden .image i:nth-of-type(2) {
  top: 60%;
}

#about .image i:last-of-type {
  right: -30px;
  bottom: 30px;
}

#about .text {
  flex-basis: calc(100% - 500px);
  max-width: 100%;
}

#about .text > p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  #about .text > p {
    margin-bottom: 50px;
  }
}

#about.hidden .text > p {
  opacity: 0;
  transform: translateY(50px);
}

@media (max-width: 992px) {
  #about .text > p {
    text-align: center;
  }
}

#about .text .features {
  display: flex;
}

@media (max-width: 992px) {
  #about .text .features  {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

#about .text .feat {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

#about .text .feat:first-of-type {
  transition-delay: 0.1s;
}

#about .text .feat:nth-of-type(2) {
  transition-delay: 0.2s;
}

#about .text .feat:last-of-type {
  transition-delay: 0.3s;
}

#about.hidden .text .feat {
  opacity: 0;
  transform: translateX(20px);
}

@media (max-width: 992px) {
  #about .text .feat {
    flex-direction: column;
    margin: 0 0 50px;
  }
}

#about .text .feat i {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: var(--main-color);
  color: white;
  margin-left: 10px;
}

@media (max-width: 992px) {
  #about .text .feat i {
    margin: 0 0 10px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  #about .text .feat p {
    font-size: 22px;
  }
}

/* Keyframes */

@keyframes Up-To-Down {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
